* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0754C7;
  }

html, body {
    height: 100%;
}

body {
    background: url(img/main3.png) no-repeat;
    background-size: cover;
    width: 100vw;
    background-size: 100% 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);

}

.modals {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 550px 75px 40px 75px;
}

.choice {
    position: relative;
    width: 406px;
    height: 163px;
    background: rgba(1, 13, 22, 0.95);
    border-radius: 4px 4px 4px 24px;
    border: 0.5px solid transparent;
    transition: 0.35s;
}

.choice_left:hover {
    /* background-color: rgba(1, 13, 22, 0.95); */
    background: linear-gradient(180deg, rgba(7, 84, 199, 0) 0%, rgba(7, 84, 199, 0.2375) 100%), rgba(1, 13, 22, 0.95);
    border: 0.5px solid #0754C7;

}

.choice.center {
    border-radius: 4px;
}
.choice.right {
    border-radius: 4px 4px 24px 4px;
}


.main_btn {
    position: absolute;
    width: 192px;
    height: 52px;
    background: var(--main-color);
    box-shadow: 0px 0px 35px rgba(7, 84, 199, 0.3);
    border-radius: 2px 2px 10px 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-align: center;
    bottom: -26px;
    left:50%;
    transform:translateX(-50%);
    cursor: pointer;
    outline: none;
    border: 0;
    transition: 0.35s;

}

.main_btn.choose {
    background: #36688B;
    box-shadow: 0px 0px 35px rgba(54, 104, 139, 0.3);
    color: #B8B8B8;
}

.main_btn:hover {
    box-shadow: none;
}




.details {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.details_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46px;
}

.details_text {
    width: 240px;
    margin-left: 16px;
    color: #E4E4E4;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
}

.details_text span {
    color: #E4E4E4;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
}

.details_text.choose, .details_text.choose span {
    color: #36688B;
}

